@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
  /* colors */
  --rich-black: #0d1b2a;
  --oxford-blue: #1B263B;
  --bdazzled-blue: #415a77;
  --shadow-blue: #778DA9;
  --platinum: #E0E1DD;
  --coral-red: #EF4444;
  --flame-angelfish: #FBBF24;
  --lime-tree: #84CC16;

  /* sizes */
  --xs: .3rem;
  --sm: .6rem;
  --md: .8rem;
  --md1: 1rem;
  --md2: 1.4rem;

  --b-radius: 6px;
  --b-radius-circle: 50%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title, .subtitle {
  margin-bottom: var(--md);
}

.version-info {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  padding: var(--md);
}